<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
    <span class="navbar-brand">Directives</span>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['/if-demo']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="nav-link">IF DEMO</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/for-demo']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="nav-link">FOR DEMO</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/switch-demo']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="nav-link">SWITCH DEMO</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/custom-demo']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="nav-link">CUSTOM DIRECTIVE</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container pt-4">
  <router-outlet></router-outlet>
</div>

