<h5>{{form.value.id ? 'Edit' : 'Add New'}} {{type}}</h5>

<form [formGroup]="form">
    <!-- Balance Details -->

    <div formGroupName="balance" class="form-row">
        <div class="col form-group mr-2">
            <label class="form-label">Category</label>
            <select formControlName="categoryId" class="form-control">
                <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
            </select>
        </div>
        <div  class="col form-group mr-2">
            <label class="form-label">Date</label>
            <input formControlName="useDate" type="date" class="form-control">
        </div>
        <div class=" col form-group mr-2">
            <label class="form-label">Employee</label>
            <input formControlName="employee" type="text" class="form-control" placeholder="Enter Empoyee Name">
        </div>

        <div class="col form-group mr-2">
            <label class="form-label">Total</label>
            <span formControlName="total" class="form-control">0</span>
        </div>
    </div>



    <!-- Balance List -->

    <div class="card shadow">
        <div class="card-header bg-info">Details</div>
        <div formArrayName="details" class="card-body">
 
            <div *ngFor="let item of detailsFormArray.controls; index as i; first as f" [formGroupName] = "i"  class="form-row">
                <!-- Item -->
                <div class="col form-group">
                    <label *ngIf="f"  class="from-label">Item</label>
                    <input formControlName="item" type="text" class="form-control" placeholder="Enter Details Item">
                </div>

                  <!-- Remark -->
                  <div class="col form-group">
                    <label *ngIf="f" class="form-label">Remark</label>
                    <input formControlName="remark" type="text" class="form-control" placeholder="Enter Remark">
                </div>

                <!-- Count -->
                <div class="col-1 form-group">
                    <label *ngIf="f" class="form-label">Quantity</label>
                    <input formControlName="unit" type="number" class="form-control">
                </div>

              

                <!-- Amount -->
                <div class="col-2 form-group">
                    <label *ngIf="f" class="form-label">Amount</label>

                    <div class="input-group">
                        <input formControlName="amount" type="number" class="form-control">
                        <div class="input-group-append" (click)="removeDetails(i)">
                            <span class="input-group-text"><i class="fa fa-close"></i></span>
                        </div>
                    </div>
                    
                </div>



                
            </div>

        </div>
        <div class="card-footer text-right">
            <button (click)="addDetails()" class="btn btn-primary  mr-2"><i class="fa fa-plus"></i> Add Details</button>
            <button (click)="save()" [disabled]="form.invalid" class="btn btn-danger"><i class="fa fa-plus"></i> Save</button>
        </div>
    </div>
</form>